#form-login {
    width: 30%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-rows: 20px 30px 20px 30px 40px 40px;
    row-gap: 5px;
    justify-items: center;
}

.input {
    width: 100%;
    height: 100%;
}

.button {
    width: 100%;
    height: 90%;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    color: #feefee;
    font-weight: 600;
}

.button-login {
    background: #0060cd;
}

.button-forget-password {
    background: #f74141;
}

#login {
    width: 100%;
    height: 100vh;
    display: grid;
    background: url("../../assets/hero.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
