#hero {
    width: 100%;
    height: 95vh;
    background: #feefee;
   
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    background: url("../../assets/hero.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#card {
    padding: 70px 30px;
    display: grid;
    place-items: center;
    place-content: center;
    gap: 30px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#card>h1 {
    font-weight: 700;
    font-size: 60px;
}

#call-to-action {
    font-weight: 400;
    font-size: 28px;
    color: white;
    background: #0060cd;
    padding: 15px 15px;
    border-radius: 8px;
    text-decoration: none;

}
